<div class="gemo-container" infiniteScroll [infiniteScrollDistance]="1" (scrolled)="loadRepos()">
  <cdk-virtual-scroll-viewport itemSize="50" class="gemo-viewport">
    <mat-card class="gemo-card mt-3" *cdkVirtualFor="let item of repos">
      <mat-card-header>
        <div mat-card-avatar class="gemo-header-image" [ngStyle]="{'background-image': 'url('+ item.owner.avatar_url +')'}"></div>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle><p>{{ item.description }}</p></mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="primary">Stars: {{ item.stargazers_count | thousand }}</button>
        <button mat-raised-button color="primary">Issues: {{ item.open_issues_count | thousand}}</button>
        <span>Submitted {{ item.created_at | timeAgo }} by <strong>{{ item.owner.login }}</strong></span>
      </mat-card-actions>
    </mat-card>
    <mat-spinner *ngIf="isLoading" class="mt-3 mb-3"></mat-spinner>
  </cdk-virtual-scroll-viewport>  
</div>


