.gemo-header-image {
  background-size: cover;
}

.gemo-container {
  max-width: 900px;
  margin: auto;
}

.gemo-card {
  height: auto;
}

.gemo-viewport {
  height: 100vh;
}

.mt-3 {
  margin-top: 15px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mat-spinner {
  margin-left: auto;
  margin-right: auto;
}

.example-viewport {
  min-height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: auto;
}